# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env.*  

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp

# Docker
Dockerfile*
docker-compose.yml

# Tests
tests/

# Git
.git/
.gitignore

# Cache
.cache/
